/* Group
--------------------------------------------- */

.is-style-background-blur {
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

@media (max-width: 600px) {
	header div.is-style-background-blur {
		backdrop-filter: none;
	}
}

/* Improvements for row group */
@media (max-width: 781px) {
	.icts-europe-row-stack {
		flex-direction: column;
		align-items: flex-start !important;
	}

	.icts-europe-row-stack > * {
		flex-basis: 100% !important;
	}

	.icts-europe-flex-start {
		align-items: flex-start !important;
	}

	.icts-europe-justify-start {
		justify-content: flex-start !important;
	}
}

.icts-europe-row-stack > .wp-block-buttons,
.icts-europe-no-shrink {
	flex-shrink: 0;
}

.wp-block-group.icts-europe-sticky-top {
	top: calc(20px + var(--wp-admin--admin-bar--position-offset, 0px))
}

/* Helper class to swap order on mobile */
@media (max-width: 781px) {
	.icts-europe-swap-order {
		flex-direction: column-reverse;
	}
	.icts-europe-row-reverse {
		flex-direction: row-reverse;
	}
}
