/* Caption
--------------------------------------------- */

.wp-block-gallery figcaption.blocks-gallery-caption {
	margin-top: 0;
}

.icts-europe-avatar-row > figure:not(:first-child) {
	margin-left: -10px !important;
}
